/* Base Application Styles */
body {
  color: #696969;
  background: #222;
}
h1 {
  text-shadow: 1px 1px 1px #fff;
}

.main-content {
  padding: 15px;
  margin-top: 10%;
  background: #eaeaea;
  border: 2px solid rgba(0, 0, 0, .2);

  .editor {
    min-height: 250px;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #222;
    background: #fff;

    .ql-toolbar {
      box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    }

    .ql-container {
      height: calc(~"100% - 50px"); // account for toolbar height
    }
  }

  .alert {
    padding: 10px 35px 10px 10px;
    .details {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.details-tooltip {
  .tooltip-inner {
    max-width: 400px;
    text-align: left;
  }
  pre {
    background: transparent;
    color: #ddd;
    border: 0;
  }
}

.select-lib {
  label {
    text-align: left !important;
  }
  .li {
    padding: 0 7px 0 6px;
    border-left: 1px solid #696969;
    &:nth-of-type(1) {
      padding-left: 0;
      border-left: 0;
    }
    color: #0066cc;
    cursor: pointer;
    &:hover:not(.selected) {
      text-decoration: underline;
    }

    &.selected {
      color: #444;
      cursor: inherit;
    }
  }
}

.mce-panel {
  margin-bottom: 15px;
}